body {
    display: flex;
    flex-direction: column;
    background-image: url("images/background_image.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
}

.header {
    display: flex;
    background-color: rgb(49, 49, 49);
    position: sticky;
    top: 0px;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 60px;
}

.title {
    margin: 10px;
    color: cadetblue;
    cursor: default;
}

.header_image {
    width: 14px;
    height: 14px;
    position: relative;
    top: 0px;
    padding-right: 1px;
}

@keyframes header_image-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1444deg)
    }
}

.header:hover .header_image {
    animation-name: header_image-animation;
    animation-duration: 2s;
}

.big_latters {
    color: rgb(193, 193, 207);
    font-size: 45px;
}

.find_button {
    padding: 3px 8px;
    font-size: 20px;
    border-radius: 10px;
    background-color: cadetblue;
    color: rgb(36, 36, 73);
}

@keyframes button_animation {
    0% {
        color: rgb(36, 36, 73);
    }
    25% {
        color: white;
    }
    50% {
        color: rgb(36, 36, 73);
    }
    75% {
        color: white;
    }
    100% {
        color: rgb(36, 36, 73);
    }
}

.find_button:hover {
    animation-name: button_animation;
    animation-duration: 5s;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 120px;
    width: 85%;
}

.table_Element {
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    background-color: rgba(48, 47, 47, 0);
}

.header_tr_element {
    background-color: rgb(194, 194, 194);
}

.table_body_tr_element {
    background-color: rgb(39, 39, 39);
}

.table_th_elements {
    color: cadetblue;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.table_td_elements {
    color: white;
    border-radius: 30px/90px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.table_td_elements:hover {
    background-color: rgb(175, 175, 175);
    color: rgb(34, 34, 34);
}

.td_a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.td_a:hover {
    color: rgb(81, 151, 145);
}

.table_create_button {
    padding: 3px 8px;
    font-size: 20px;
    border-radius: 10px;
    background-color: cadetblue;
    color: rgb(36, 36, 73);
}

.table_create_button:hover {
    animation-name: button_animation;
    animation-duration: 5s;
    cursor: pointer;
}

.td_button {
    padding: 3px 8px;
    font-size: 15px;
    border-radius: 10px;
    background-color: cadetblue;
    color: rgb(36, 36, 73);
}

.td_button:hover {
    animation-name: button_animation;
    animation-duration: 5s;
    cursor: pointer;
}